<ion-content class="ion-padding" style="--background: #7cd2e8b0;">
  <img src="assets/img/registrate.png.crdownload" alt="" class="center-image">
  <div>
    <h1> 
      <ion-item>
        <ion-input [(ngModel)]="email" label="Email" type="email" placeholder="" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="password" label="Password" type="password" value=""></ion-input>
      </ion-item>

      <ion-button (click)="registrar()">registrar</ion-button>
    </h1>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

